@model IEnumerable<Hotel_Management.Models.CreditCardDetails>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreditCardCVC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCardExpiryMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCardExpiryYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCardNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCardNumber)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCardCVC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCardExpiryMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCardExpiryYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCardNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCardNumber)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
</table>
