@model IEnumerable<Hotel_Management.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyCellPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanySuburb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyyWorkPhone)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyCellPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanySuburb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyyWorkPhone)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
</table>
