@model IEnumerable<Hotel_Management.Models.Alarm>

@{
    ViewData["Title"] = "Index";
}

<h2>Please Action these Alarms</h2>

<table class="table">
    <tr>
               <th>
            @Html.DisplayNameFor(model => model.AlarmTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlarmDate)
        </th>
               <th>
            @Html.DisplayNameFor(model => model.AlarmTime)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.AlarmAlertNotes)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.AlarmTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlarmDate)
        </td>
        
       
        <td>
            @Html.DisplayFor(modelItem => item.AlarmTime)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.AlarmAlertNotes)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
           
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
</table>
