@model Hotel_Management.Models.Staff

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StaffAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffCellPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffCellPhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffHomePhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffHomePhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffPhoto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffPhoto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffSuburb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffSuburb)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
