@model Hotel_Management.Models.Staff

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StaffAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffCellPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffCellPhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffHomePhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffHomePhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffPhoto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffPhoto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffSuburb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffSuburb)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
