@model IEnumerable<Hotel_Management.Models.Staff>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobPosition.JobPositionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffFullName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.StaffCellPhoneNumber)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.StaffEmail)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.StaffHomePhone)
        </th>
        
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobPosition.JobPositionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffCellPhoneNumber)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.StaffEmail)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.StaffHomePhone)
        </td>
        
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
</table>
