@model IEnumerable<Hotel_Management.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h2>Todays Guest Check-Ins</h2>

<p>
    <a class="btn btn-default" asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerGuest.CustomerFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomType.RoomTypeName)
        </th>

        
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofNights)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureDate)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.CustomerGuest.CustomerFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomType.RoomTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.NumberofNights)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Check Out</a> |

            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
</table>
