@model Hotel_Management.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookingMade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookingMade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberofNights)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberofNights)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
<div>
    <input type="button" value="Print" onclick="window.print()" class="btn btn-default" />
</div>
